<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Unknown power have been developped by a Unknown" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Unknown Power</title>  
  <link href="./static/main.3f6952e4.css" rel="stylesheet">
  <link href="./static/style.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div style="font-family: Times New Roman; font-size: 18px;letter-spacing: -0.15px">
            <div class="text-center">
              <h1 class="h2">002 : Windows Sandbox</h1>
            </div><br><br>
            <span>Hello Everyone, <br><br>
            As i mentioned earlier that i will tell some ways to test software before finally installing on your main system, so in this thread i will mention all the methods through which software can be checked before installing on main system.<br>
            We have seen previously that some accounts got compromised, and now we have implemented some security and updated some rules, but no matter what we implement or what we setup , there will always be people who wants to harm others systems and we can't track all of them, so your security is your own responsibility , that's why you must test software's before installing them on your main system. We are trying our best to increase the security and rules to decrease such cases in future but that all will be waste unless you take step yourself and test things on your own.<br>
            If you find any Software which is suspecious , report about it to staff so that an action can be taken regarding it.</span><br>
            <br>
            <span style="font-size: 23px; color: rgb(44, 130, 201)"><b><u>Method 1 :- Windows Sandbox </u></b></span><br>
            <br>
            <b><span style="color: rgb(235, 107, 86)">Requirement :- </span></b><br>
            <ul>
              <li data-xf-list-type="ul"><span><b>Windows 10 Version 1903 and above (Pro and Enterprise Edition)</b></span></li>
              <li data-xf-list-type="ul"><span><b>Your system must have virtualization enabled</b></span></li>
            </ul>
            <span style="color: rgb(61, 142, 185)"><b>For Home Edition use this bat file to enable the Windows Sandbox Option</b></span>
            <a href="https://nofile.org/v/9665f0" target="_blank">-:https://nofile.org/v/9665f0</a>
            <span style="color: rgb(235, 107, 86)"><b>(Not Tested by Myself)</b></span><br>
            <br>
            <span style="color: rgb(235, 107, 86)"><b>Features :- </b></span><br>
            <ul>
              <li data-xf-list-type="ul">Windows 10 Built in Functionality</li>
              <li data-xf-list-type="ul">Small in Size and Easy to Use</li>
              <li data-xf-list-type="ul">Data gets Destroyed on Closing the Sandbox</li>
              <li data-xf-list-type="ul">Provides Safe Environment for Testing Software's</li>
              <li data-xf-list-type="ul">Light Weight and Takes around 1-2 GB space for Windows 10 Sandbox installation and on closing the Sandbox it restores that space</li>
            </ul>
            <span>Ok, so if you meet the above requirements than lets move ahead and enable Windows Sandbox </span><br>
            <br>
            <span style="color: rgb(235, 107, 86)"><b>Step - 1 : Open "Turn Windows Features on or off"</b></span><br><br>
            <img src="./static/assets/images/d1.png" class="img-responsive" alt=""><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 2 : Look for Windows Sandbox and Enable it , after enabling it you have to restart your system</b></span><br><br>
            <img src="./static/assets/images/d2.png" class="img-responsive" alt=""><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 3 : Open Start Menu and Look for Sandbox and open it</b></span><br><br>
            <img src="./static/assets/images/d3.png"><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 4 : Now it will take some time and open a Windows 10 Interface</b></span><br><br>
            <img src="./static/assets/images/d4.png" class="img-responsive" alt=""><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 5 : Now copy the software from main system to this Windows Sandbox which you want to test, you can also download software through Edge on Windows Sandbox</b></span><br><br>
            <img src="./static/assets/images/d5.png" class="img-responsive" alt=""><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 6 : Now Install the software and apply any crack/patch to it and open it afterwards</b></span><br><br>
            <img src="./static/assets/images/d6.png" class="img-responsive" alt=""><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 7 : Now if you don't feel any issue with the program and it works just fine , than you can install it on your system, if you find issues on software running or crack/patch not working or feel some lags or adware or hack issues on that sandbox than don't install the software on main system.</b></span><br><br>
            <img src="./static/assets/images/d7.png" class="img-responsive" alt=""><br><br>
            <span style="color: rgb(235, 107, 86)"><b>Step 8 : After Successfully Testing, just close the sandbox windows and it will destroy all data.</b></span><br><br>
            <img src="./static/assets/images/d8.png" class="img-responsive" alt=""><br><br>
            <br>
            <span style="color: rgb(235, 107, 86)"><b>Other Methods :- There are many ways you can achieve the same process, so below i am mentioning just the methods which you can use beside this, you can get many info on google for their uses and all.</b></span><br>
            <br>
            <span style="color: rgb(84, 172, 210)"><b><u>Method 2 :- Virtual Machine </u></b></span><br>
            <br>
            <span>You can use any of the virtual machine software and install a window on it and test software's on that.<br><br>
              <b>Software's :-</b>
            </span><br>
            <ul>
              <li data-xf-list-type="ul">Virtual Box :- <a href="https://www.virtualbox.org/wiki/Downloads" target="_blank">https://www.virtualbox.org/wiki/Downloads</a></li>
              <li data-xf-list-type="ul">VMWare :- <a href="https://www.vmware.com" target="_blank">https://www.vmware.com</a></li>
            </ul><br>
            <b><span style="color: rgb(235, 107, 86)">Pros :- </span></b><br>
            <ul>
              <li data-xf-list-type="ul"><span>Separate and Safe Environment</span></li>
            </ul>
            <span style="color: rgb(235, 107, 86)"><b>Cons :- </b></span><br>
            <ul>
              <li data-xf-list-type="ul"><span>Heavy on System</span></li>
              <li data-xf-list-type="ul"><span>Needs Separate Windows Installation</span></li>
              <li data-xf-list-type="ul"><span>Takes large Space</span></li>
              <li data-xf-list-type="ul"><span>Slow on Performance</span></li>
            </ul><br>
            <span style="color: rgb(84, 172, 210)"><b><u>Method 3 :- Using Sandbox Software's </u></b></span><br>
            <br>
            <span>There are many software's available which lets you create a separate sandbox environment on your system for testing software's </span><br>
            <br>
            <b><span style="color: rgb(235, 107, 86)">Software's :- </span></b><br>
            <ul>
              <li data-xf-list-type="ul"><span>Sandboxie :- <a href="https://www.sandboxie.com/" target="_blank">https://www.sandboxie.com/</a></span></li>
              <li data-xf-list-type="ul"><span>Shadow Defender :- <a href="http://www.shadowdefender.com/" target="_blank">http://www.shadowdefender.com/</a></span></li>
            </ul><br>
            <span style="color: rgb(235, 107, 86)"><b>Pros :- </b></span><br>
            <ul>
            <li data-xf-list-type="ul"><span>Small on Size</span></li>
            <li data-xf-list-type="ul"><span>Quick setup and start</span></li>
            <li data-xf-list-type="ul"><span>Easily Destroy the Sandbox Data</span></li>
            </ul>
            <b><span style="color: rgb(235, 107, 86)">Cons :- </span></b><br>
            <ul>
              <li data-xf-list-type="ul">Some users find it hard to understand their working and functionality</li>
            </ul>
            If these steps are followed carefully...it works perfectly! I use it at work. <a href="./contact.html" title="any quaries">Contact me</a> if there is any problem.
            <img src="/static/assets/images/a10.gif" class="smilie" alt=":p" title="Stick Out Tongue:p" data-shortname=":p">
          </div>
        </div>              
      </div>
    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Shared with <a href="https://medium.com/" title="World is here!!!">Unknown Power</a>/<a href="https://medium.com/topic/popular" title="World is here!!!">Popular</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>